.search {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    height: 35px;
    padding: 15px;
    margin-bottom: 10px;
}

.container {
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -50px;
}

.tags {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}


.box_limiter  {
    width: 85%;
}

.ReactModal__Overlay {
    z-index: 1;
}

.pagination {
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pagination li {
    background-color: #A21AFC;
    color: #fffffe;
    padding: 16px 16px;
}

.pagination li a {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}