.tag {
    background-color: #a21afc;
    padding: 7px 15px;
    border-radius: 3px;
    font-size: 13px;
    margin: 3px;
    color: rgb(245, 245, 245);
}

.tag:hover {
    background-color: #1d2488;
    cursor: pointer;
}

.tag_selected {
    background-color: #00214D;
    padding: 7px 15px;
    border-radius: 3px;
    font-size: 13px;
    margin: 3px;
    color: rgb(245, 245, 245);
}

.tag_selected:hover {
    cursor: pointer;
}
